/* Начало блока доп. стилей */

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.title-decor {
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.subtitle-decor,
.text-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: inherit;
}

.text-decor-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: inherit;
}

.subtitle-decor {
  color: var(--subtitle-color, #FF0070);
}

.text-decor,
.text-decor-regular {
  color: var(--article-title-color, #000028);
  background-color: var(--accent-color, #FF0070);
}

.title-position {
  justify-self: center;
  align-self: center;
}

/* Конец блока доп. стилей */

/* Начало блока глобальных классов */

.page {
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-image: var(--page-background-image, url("../images/cover-image-dark.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (width >= 768px) {
  .page {
    padding: 20px;
  }
}

.decorated-zone {
  position: relative;
  min-block-size: 97vh;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--corners-color, #ff0070);
  border-block-start: 1px solid var(--corners-color, #ff0070);
  inset-inline-end: 0px;
  inset-block-start: 0px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--corners-color, #ff0070);
  border-block-end: 1px solid var(--corners-color, #ff0070);
  inset-inline-start: 0px;
  inset-block-end: 0;
}

@media (width >= 768px) {
  .decorated-zone {
    min-block-size: 96vh;
  }
}

@media (width >= 1024px) {
  .decorated-zone {
    min-block-size: 94.7vh;
  }
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec-icon {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--accent-color, #FF0070);
  inset-inline-end: 0px;
  inset-block-start: 0px;
}

.rec-icon::before {
  content: "REC";
}

.rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
  background: var(--accent-color, #FF0070);
  inline-size: 9px;
  block-size: 9px;
}

/* Конец блока глобальных классов */

/* Начало блока header классов */

.header {
  display: grid;
  align-items: center;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

@media (width >= 768px) {
  .header__theme-menu {
    margin-block-start: 120px;
    margin-block-end: 70px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: self-start;
    margin: 0;
    margin-block-end: 190px;
    justify-self: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--menu-color, #FF0070);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--subtitle-color-tr40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title,
.footer__title{
  color: var(--title-color, #DB00FF);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: left;
}

.header__title {
  margin-inline-start: clamp(-20px, calc(-5.08vw + 19.05px), 0px);
}

@media (width >= 768px) {
  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.header__subtitle {
  margin-block: 55px;
  justify-self: end;
  inline-size: clamp(355px, calc(2.29vw + 346.41px), 364px);
}

@media (width >= 768px) {
  .header__subtitle {
    margin-block-end: 108px;
    inline-size: clamp(364px, calc(50% - 1px), 491px);
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    margin-block-start: 60px;
    margin-block-end: 85px;
  }
}

/* Конец блока header классов */

/* Начало блока section классов */

.main {
  display: grid;
  gap: 50px;
  padding: 50px 0px;
}

@media (width >= 768px) {
  .main {
    gap: 80px;
    padding: 80px 0px;
  }
}

.section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
}

@media (width >= 1024px) {
  .section {
    column-gap: 31.8px;
  }
}

@media (width >= 768px) {
  .section-what__list {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  .section-what__list {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

.section__list-item {
  display: grid;
  gap: 10px;
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__title {
  display: grid;
  gap: 10px;
}

.section__title-how {
  margin-block-end: 20px;
}

.section-gallery {
  gap: 10px;
}

@media (width >= 768px) {
  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.section-gallery__list {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .section-gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (width >= 768px) {
  .section-gallery__list-item:first-child,
  .section-gallery__list-item:last-child {
    grid-column-start: span 2;
  }

  .section-gallery__list-item:nth-child(2),
  .section-gallery__list-item:nth-child(3) {
    grid-row-start: span 2;
  }

}

.section-gallery__list-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* Конец блока section классов */

/* Начало блока footer классов */

.footer {
  display: grid;
}

/* Конец блока footer классов */